deploy-services/data
backend/.env
backend/node_modules
backend/src/keys
backend/src/uploads/*
message-queue/.env
message-queue/node_modules
deploy-services/mysql/master/data
deploy-services/mysql/slave/data
